# Build results
[Bb]in/
[Oo]bj/
*.exe
*.pdb
*.dll
*.suo
*.user
*.log
*.cache

# Rider specific files
.idea/
*.sln.iml

# Visual Studio specific files (if also using VS)
.vs/
*.csproj.user

# Package files
packages/

# Temporary files
[Tt]emp/
